/* MAIN PAGE STYLES */

.mainimg {
    width: 50%;
    border: solid black 2px;
}

.mainlist {
    font-size: 20px;
}

/* MIGRAINE PAGE STYLES */


/* NO NAP PAGE STYLES */


/* SALEM OCTOBER PAGE STYLES */