/* MAIN PAGE STYLES */

.mainimg {
    width: 50%;
    border: solid black 2px;
}

.mainlist {
    font-size: 20px;
}

/* RECIPE PAGE STYLES */

.img {
    width: 40%;
    border: solid black 2px;
}

.details {
    width: 50%;
}